* {
  box-sizing: border-box;
}
 
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(233, 227, 227);
  font-family: 'Roboto Condensed', sans-serif;
}

.App {
  display: flex;
  flex-direction: column; 
  flex-wrap:wrap;
  justify-content: space-evenly;
  background-color:  #fdfdfd;
}



