.flex-container {
  display: flex;
  /* background-color: pink; */
  justify-content: center;
}

.cartList-header{
  display: flex;
  justify-content: center;
}
.cart--list{
  display: flex;
  margin: 5px 100px 5px;
  /* padding:30px; */
}
.checkout-div{
  background-color: white;
  margin: 100px;
  padding: 100px;
}
.flex-child {
  flex:1;
  /* border: 2px solid yellow; */
  margin: 20Px;
  background-color: white;
}  


/* .flex-child:first-child {
  margin-right: 20px;
}  */


.cart--image img {
  height: 300px;
  width: 300px;
  background-color: #f1f1f1;
  margin:10px;
  line-height: 200%;
  padding: 20px;

} 


.cart--image img:hover,
.cart--image img:focus{
  width:320px;
  height:320px;
} 


.total{
  margin-top: 5px;
  margin-left: 10px;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px

}

.checkout-input{
  
    margin-top: 2px;
    margin-left: 10px;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px
  
  
}
.proceed{
  margin-left:30px;
  font: 20px;
  padding: 10px;
  /* border: 3px solid rgb(84, 94, 84); */
}
.checkout-button{
  margin-left: 30px;
  font: 20px;
  padding: 10px
}

.removeIcon{

display: flex;
  align-self:baseline;
  background-color: #fdfdfd;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
img{
  width:2em; 
  height:1.5em;
}
