/* .cart--ul
{
   display:flex;
   flex-direction:column;
   margin:10px;
   padding: 30px;
   background-color: blueviolet;
   width: 50%

  
}

.cart--image img {
  height: 200px;
  width: 200px;
  background-color: #f1f1f1;
  margin:50px;
  line-height: 200%;

 
  
} 

body{
  background-color: brown;
}
 
.total{
  background-color: burlywood;
  display: flex;
  align-self: flex-end;

}

.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px
} */


.flex-container {
  display: flex;
  background-color: #f1f1f1;
}

.flex-child {
  flex: 1;
  border: 2px solid yellow;
  margin: 20Px;
  background-color: white;
}  

.flex-child:first-child {
  margin-right: 20px;
} 
.flex-child2 {
  flex-shrink:3;
} 

.cart--image img {
  height: 200px;
  width: 200px;
  background-color: #f1f1f1;
  margin:50px;
  line-height: 200%;
  padding: 20px;

 
  
} 
.total{
  margin-top: 5px;
  margin-left: 10px;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px

}

.checkout-input{
  
    margin-top: 2px;
    margin-left: 10px;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px
  
  
}
.proceed{
  margin-left:30px;
  font: 20px;
  padding: 10px;
  /* border: 3px solid rgb(84, 94, 84); */
}
.checkout-button{
  margin-left: 30px;
  font: 20px;
  padding: 10px
}
