.flex-container {
  display: flex;
  /* background-color: pink; */
  justify-content: center;
}

.cartList-header{
  display: flex;
  justify-content: center;
}
.cart--list{
  display: flex;
  /* margin: 5px 100px 5px; */
  /* background: slateblue; */
  /* padding:30px; */
 
 
}
.checkout-div{
  background-color: #f1f1f1;
  margin: 100px;
  padding: 100px;
}
.flex-child {
  flex:-1;
  /* border: 2px solid yellow; */
  margin:20px;
  padding: 90px;
  /* background-color: skyblue; */
}  


/* .flex-child:first-child {
  margin-right: 20px;
}  */


.cart--image img {
  height: 300px;
  width: 300px;
  /* background-color: #f1f1f1; */
  margin:10px;
  line-height: 200%;
  padding: 20px;

} 



.removeIcon{
display: flex;
  background-color: #fdfdfd;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
img{
  width:2em; 
  height:1.5em;
}


 

