
  
.form-div{
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  align-items: end;
  /* margin: 10px 40px; */
  font-family: 'Roboto Condensed', sans-serif;
  /* background: lightcoral; */

}

.select{
  display: flex;
  height:60px;
  width:60px;
  margin:10px 3px 0px;
  /* padding:15px; */
  /* background-color: sandybrown; */
  border-color: #b3aeae;
 
}

.button-form{
  display: flex;
  margin:10px 3px 0px;
  /* margin:5px; */
  background: linear-gradient(to right, rgba(173,91,152,255) , rgba(191,102,120,255),rgba(202,108,99,255));
  width:130px;
  height: 60px;
  color:#fdfdfd;
  font-size: 15px;
  font-weight: bold;
  border-style: none;
  align-items: center;
  justify-content: center;
}


.button-form:hover{
  background:black;
  width:135px;
  height: 60px;
  color: #f1f1f1;

  font-weight: bold;
}

.cart-total{
  display: flex;
  /* align-self:left; */



}

.cart-total-text{
  display:flex;
 font-size: 20px;
}



.removeIcon-div{
  display:flex;
  flex-direction: column;
 /* background-color: chocolate; */

}

.removeIcon{
  display: flex;
  background: #fdfdfd;
  margin: 20px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.removeIcon span{
  margin:4px;
  text-align: center;
  /* background: red; */
  width:100px
  
}



img{
  width:2em; 
  height:1.5em;
}



