

.header {
  padding: 10px;
  width: 100%; 
  height: auto;
  /* margin: 30px; */
  display: flex;
  /* background-color: black; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Roboto Condensed', sans-serif;
  border-style: none;
  border-width: 1px;
  /* border-color: lightgray; */
  background: linear-gradient(to right, rgba(173,91,152,255) , rgba(191,102,120,255),rgba(202,108,99,255));
}
.shopname{
  font-size: 35px;
  font-weight: bold;
  color:#f1f1f1;
  
}
.slogan{

  color:#f1f1f1;
  font-style: italic;
  font-weight: bold;
}
.slogan:hover{
  color:purple;
  font-size: 25px;
}

.Shopping-bag-header{
  /* margin-top: 80px;
  margin-right: 70px; */
  color:#f1f1f1;
  font-style: italic;
  font-weight: bold;
}


.Shopping-bag-header:hover{
  color:purple;
  font-size: 25px;
}

.Shopping-bag-header-image{
  margin:12px;
  height:30px;
  width: 30px;
}
.header > div {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  display: flex;
  flex-direction: row;

}
a:link {
  text-decoration: none;
  color:rgb(29, 29, 75);
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: hotpink;
  font-style: italic;
}

a:active {
  color: #3333;
}



.logo{
  height:40px;
  width: 60px;
} 

.logo:hover{
  zoom:150%
}


