.Product-details-page{
  background-color:#fdfdfd;
  width: 95%;
  margin: 70px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  font-family: 'Roboto Condensed', sans-serif;
}

.product-image img{
  margin: 40px;
  padding: 40px;
  height: 600px;
  width: 600px;
  background-color: #fdfdfd;
  display:flex;
  justify-content: flex-start;
}

.product-image img:hover{
  margin: 40px;
  padding: 40px;
  height: 700px;
  width: 700px;
  background-color: white;
  display:flex;
  justify-content: flex-start;
  cursor: pointer;
}


.product--info{
  margin: 40px;
  padding: 80px;
  height: 600px;
  width: 600px;
  background-color: #fdfdfd;
  font-size: 20px;
  color:#333333;

}
button{
  margin:5px;

  background-color: #333333;
  width:150px;
  height: 40px;
  color:#fdfdfd;
  font-size: 15px;
  font-weight: bold;
}
button:hover{
  background-color:#f1f1f1;
  width:180px;
  height: 40px;
  color:#333333;
  font-size: 12px;
  font-weight: bold;
}

