.search{
  margin: 4px;
  padding: 4px;
  display: flex;
  width: 100%;
  border-radius: 10px;
  
}

.search input{
  /* background-color: chartreuse; */
  /* align-self: flex-end; */
  border: none;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  font-weight: bold;
  padding:5px;
}

.search input:hover{
  background-color: lightgray;

}